@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/containers";

.bg-cyan {
  background-color: $cyan-600;
}

// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: 0;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.container-custom {
  @include make-container();
}

